.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;

    .navbar_link {
        display: flex;
        justify-content: center;
        align-items: baseline;
        text-decoration: none;
        color: $color_3;
        width: fit-content;
        font-weight: bold;
        padding: 10px 4px;
        border: 1px solid transparent;
        border-radius: 6px;

        &:hover {
            background: $bg_color;
            box-shadow: $box_shadow 0px 2px 32px 0px;
            backdrop-filter: blur(40px);
            border-color: $border-color;
        }

        .navbar_icon {
            font-size: 12px;
            margin-right: 8px;
            text-align: center;
        }

        .navbar_txt {
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar_container {
        margin: 3rem 0;

        .navbar_link {
            width: 10rem;

            .navbar_icon {
                font-size: 20px;
                margin-right: 12px;
            }

            .navbar_txt {
                font-size: 22px;
            }
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .navbar_container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 5rem 0;
        gap: 2rem;

        .navbar_link {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            width: fit-content;;

            &:hover {
                background: $bg_color;
                box-shadow: $box_shadow 0px 8px 32px 0px;
                backdrop-filter: blur(40px);
                border-color: $border-color;
            }

            .navbar_icon {
                font-size: 16px;
                margin-right: 12px;
            }

            .navbar_txt {
                font-size: 18px;
            }
        }
    }
}


@media screen and (min-width: 1440px) {
    .navbar_container {
        flex-direction: column;
        align-items: flex-start;
        margin: 5rem 0;
        gap: 3rem;

        .navbar_link {
            display: flex;
            justify-content: flex-start;
            width: fit-content;
            border-radius: 8px;
            padding: 1rem;

            .navbar_icon {
                font-size: 22px;
                margin-right: 10px;
            }

            .navbar_txt {
                font-size: 24px;
            }
        }
    }
}