.card_skill_container {
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

    .card_skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 200px;
        height: 200px;
        border-radius: 5%;
        margin: 2rem;

        background: linear-gradient(rgba(36, 16, 83, 0.267), rgb(33, 17, 70));
        border: 0.5px solid $border-color;
        box-shadow: $box_shadow 0px 0.3rem 2rem;


        .icon_skill {
            font-size: 4rem;
        }

        .icon_skill_title {
            color: $color_3;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            margin: 5px;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card_skill_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2rem;
        align-content: center;
        justify-content: center;

        .card_skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            border-radius: 5%;
            margin: 0.5rem 1rem;
            box-shadow: $box_shadow 0px 0.1rem 2rem;

            .icon_skill {
                font-size: 2rem;
            }

            .icon_skill_title {
                font-size: 1rem;
            }
        }

    }
}

@media screen and (max-width: 768px) {

    .card_skill_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        justify-content: center;
        margin-top: 0;

        .card_skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 75px;
            border-radius: 5%;
            margin: 1rem;
            box-shadow: $box_shadow 0px 0.1rem 2rem;

            .icon_skill {
                font-size: 2rem;
            }

            .icon_skill_title {
                font-size: 0.6rem;
            }
        }

    }

}