.main_skills_container {
    height: 100vh;
}

.card_skill_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;

    .card_skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 6rem;
        height: 6rem;
        margin: 1rem 0.5rem;

        box-shadow: $box_shadow 0px 0.1rem 1rem;
        background: linear-gradient(rgba(36, 16, 83, 0.267), rgb(33, 17, 70));
        border: 0.5px solid $border-color;
        border-radius: 8px;

        .icon_skill {
            font-size: 2.5rem;
        }

        .icon_skill_title {
            font-size: 13px;
            color: $color_3;
            font-weight: bold;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .card_skill_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card_skill {

            width: 10rem;
            height: 10rem;
            margin: 4rem 0.5rem;

            .icon_skill {
                font-size: 4rem;
            }

            .icon_skill_title {
                font-size: 18px;
            }
        }

    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .card_skill_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        .card_skill {

            width: 8rem;
            height: 8rem;
            margin: 2rem 0.5rem;

            .icon_skill {
                font-size: 3.5rem;
            }

            .icon_skill_title {
                font-size: 16px;
            }
        }

    }
}


@media screen and (min-width: 1440px) {

    .card_skill_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card_skill {

            width: 12rem;
            height: 12rem;
            margin: 2rem 0.5rem;

            .icon_skill {
                font-size: 5rem;
            }

            .icon_skill_title {
                font-size: 20px;
            }
        }

    }

}