.arrow_container {
    text-align: center;
    margin: 2rem 0;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow_circle {
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 36px;
        height: 36px;
        border: 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $bg_color;
            box-shadow: $box_shadow 0px 4px 40px 0px;
            cursor: pointer;
        }
    }

    .arrow_btn {
        color: $color_4;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .arrow_container {
        margin: 8rem 0;
    
        .arrow {
            font-size: 24px;
        }
    
        .arrow_circle {
            width: 60px;
            height: 60px;
            border: 3px solid;
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .arrow_container {
        .arrow {
            font-size: 20px;
        }
    
        .arrow_circle {
            width: 45px;
            height: 45px;
            border: 3px solid;
        }
    }
}


@media screen and (min-width: 1440px) {
    .arrow_container {
        margin: 6rem 0;
    
        .arrow {
            font-size: 26px;
        }
    
        .arrow_circle {
            width: 60px;
            height: 60px;
            border: 3px solid;
        }
    }
}