.main_home_container {
    height: 100vh;

    .home_container {
        display: flex;
        justify-content: center;
        flex-direction: row;


        .title_home {
            color: $color_2;
        }

        .about {
            margin-left: 2rem;
            color: $color_2;
            max-width: 40rem;
            text-align: left;
            line-height: 2;
        }
    }
}

@media screen and (max-width: 768px) {
    .main_home_container {

        .home_container {
            display: flex;
            justify-content: center;
            flex-direction: column;


            .title_home {
                color: $color_2;
                font-size: 1.8rem;
            }

            .subtitle_home {
                font-size: 1rem;
            }

            .about {
                margin-left: 0;
                color: $color_3;
                text-align: left;
                line-height: 1.6;
                font-size: 14px;
            }
        }
    }

}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    .main_home_container {

        .home_container {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .about {
                margin-left: 1rem;
                color: $color_2;
                max-width: 40rem;
                text-align: left;
                line-height: 1.5;
                font-size: 12px;
            }
        }
    }

}