.main_home_container {
    height: 100vh;
    color: $color_2;

    .home_container {
        margin: 1rem 0;


        .title_home {
            font-size: 18px;
        }

        .subtitle_home {
            font-size: 18px;
        }

        .about_container {
            margin: 1rem 0;
            font-size: 14px;
            text-align: left;

            .about {
                margin: 1rem 0;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main_home_container {
        .home_container {

            .title_home {
                font-size: 30px;
            }

            .subtitle_home {
                font-size: 30px;
            }

            .about_container {
                margin: 3rem 0;
                font-size: 20px;

                .about {
                    margin: 2rem 0;
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .main_home_container {
        .home_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;

            .title_home {
                font-size: 26px;
                margin: 1rem 0;
            }

            .subtitle_home {
                font-size: 26px;
            }

            .about_container {
                margin: 0;
                font-size: 16px;

                .about {
                    line-height: 1.7;
                }
            }
        }
    }
}


@media screen and (min-width: 1440px) {
    .main_home_container {
        .home_container {
            margin: 2rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            .title_home {
                font-size: 32px;
                margin: 1rem 0;
            }

            .subtitle_home {
                font-size: 32px;
            }

            .about_container {
                margin: 0;
                font-size: 20px;

                .about {
                    line-height: 2;
                }
            }
        }
    }
    
}