@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./Components/vars";
@import "./Components/Home/home";
@import "./Components/Home/arrowButton";
@import "./Components/Navbar/navbar";
@import "./Components/Skills/skills";
@import "./Components/Projects/projects";
@import "./Components/Contact/contact";
@import "./Components/Footer/footer";
@import "./Components/Language/translate";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $color_1;
    margin: 0 5%;
    font-family: 'Poppins', sans-serif;

    .title {
        color: $color_2;
        margin: 1rem 0;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    html {
        margin: 0 5%;

        .title {
            font-size: 40px;
        }
    }

}


@media screen and (min-width: 1024px) and (max-width: 1439px) {

    html {
        margin: 0 5%;

        .title {
            font-size: 44px;
        }
    }

}


@media screen and (min-width: 1440px) {

    html {
        margin: 0 20%;

        .title {
            font-size: 46px;
        }
    }

}